.bathbombmenu-page {
    position: fixed;
    top: 14vh;
    bottom: -1.3vh;
    left: 3vw;
    right: 3vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    transition: all 1s ease;
}

.bathbomb-card-list {
    width: 100%;
    max-width: 94vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    overflow: auto;
    padding: 5vh 0 0 0;
    transition: all 1s ease;
}

.bathbomb-card-list::-webkit-scrollbar {
    width: 0;
    transition: all 1s ease;
}

.bathbomb-card {
    height: calc(23.5vw);
    width: auto;
    display: flex;
    flex-direction: column;
    margin: 0.5vh 1vw -1.5vh 1vw;
    transition: all 1s ease;
}

.bathbomb-example {
    display: grid;
    grid-template-columns: repeat(3 25%) auto;
    grid-template-rows: repeat(6 16.67%);
    transition: all 1s ease;
    filter: drop-shadow(rgba(255, 255, 255, 0.1) 10px 2px 10px);
}

.bathbomb-example.out-of-stock {
    filter: opacity(50%) grayscale(100%);
    transition: all 1s ease;
}

.bathbomb-out-of-stock-label {
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    font-size: 6.5rem;
    transform: rotate(45deg);
    filter: opacity(150%);
    grid-column: 1/5;
    grid-row: 2/6;
    z-index: 6;
    width: 15vw;
    height: calc(15vw);
    margin: 4vh 0 0 2vw;
    transition: all 1s ease;
}

.bathbomb-name-banner {
    grid-column: 1/5;
    grid-row: 1;
    height: 8vh;
    width: 18vw;
    color: white;
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Abel', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 -5vh 0;
    background-image: url("../images/bathbombs/bathbomb-bases/banner.svg");
    background-repeat: no-repeat;
    background-size: 95%;
    background-position: center;
    z-index: 3;
    filter: drop-shadow(rgba(0, 0, 0, 0.548) 3px 3px 15px) opacity(85%);
    transition: all 1s ease;
}

.bathbomb-name-banner > h1 {
    font-size: 1.85rem;
    margin: 0 0 2.5vh 0;
    transition: all 1s ease;
}

.bathbomb-base {
    grid-column: 1/5;
    grid-row: 2/6;
    height: calc(18vw);
    width: 18vw;
    z-index: 1;
    transition: all 1s ease;
}

.bathbomb-details-overlay {
    grid-column: 1/5;
    grid-row: 2/6;
    height: calc(18vw);
    width: 18vw;
    z-index: 2;
    transition: all 1s ease;
}

.coming-soon {
    grid-column: 1/5;
    grid-row: 2/6;
    height: calc(18vw);
    width: 18vw;
    z-index: 2;
    color: white;
    font-size: 2rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    transition: all 1s ease;
    
}

.necklace-overlay {
    grid-column: 1/5;
    grid-row: 2/6;
    height: calc(18vw);
    width: 18vw;
    z-index: 3;
    filter: drop-shadow(black 5px 5px 4px);
    transition: all 1s ease;
}

.color-burst-overlay {
    grid-column: 1/5;
    grid-row: 2/6;
    height: calc(18vw);
    width: 18vw;
    z-index: 3;
    transition: all 1s ease;
}

.bathbomb-table-shadow {
    background-color: rgba(0, 0, 0, 0.1);
    width: 15vw;
    height: calc(14vw);
    border-radius: 100%;
    grid-column: 1/5;
    grid-row: 4/7;
    margin: 0 0 7vh 2vw;
    transform: rotate(-20deg);
    transition: all 1s ease;
}

.bathbomb-shadow-1 {
    grid-column: 1/5;
    grid-row: 2/6;
    height: calc(18vw);
    width: 18vw;
    z-index: 3;
    filter: opacity(22%);
    transform: rotate(30deg);
    margin: 0.5vh 0 0 0;
    transition: all 1s ease;
}

.bathbomb-shadow-2 {
    grid-column: 1/5;
    grid-row: 2/6;
    height: calc(18vw);
    width: 18vw;
    z-index: 3;
    filter: opacity(10%);
    transform: rotate(10deg);
    margin: 0.5vh 0 0 0;
    transition: all 1s ease;
}

.bathbomb-highlight {
    grid-column: 1/5;
    grid-row: 2/6;
    height: calc(18vw);
    width: 18vw;
    z-index: 4;
    filter: opacity(5%) invert(100%);
    transform: rotate(180deg);
    margin: 0 0 0.2vh 0;
    transition: all 1s ease;
}

.bathbomb-menu-nav {
    width: 94vw;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    transition: all 1s ease;
}

.bathbomb-menu-nav-filter-button {
    background-color: blue;
    border-radius: 15pt;
    font-size: 2rem;
    color: white;
    font-family: 'Abel', sans-serif;
    text-transform: uppercase;
    padding: 1vh 2vw 1vh 2vw;
    box-shadow: rgb(73, 8, 134) 7px 7px 1px,
                rgba(0, 0, 0, 0.452) 15px 15px 10px,
                inset rgba(255, 255, 255, 0.473) 1px 1px 5px,
                inset black -1px -1px 5px;
    margin: 0 0 1vh 0;
    transition: all 1s ease;
}

.drop-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 1vh 1vw 1vh 1vw;
    background-color: rgba(0, 0, 255, 0.274);
    margin: 0 1vw 0 1vw;
    border-radius: 50px;
    border-top-left-radius: -10pt;
    box-shadow: inset rgba(0, 0, 0, 0.281) 5px 5px 1px,
                rgba(255, 255, 255, 0.144) 1px 1px 1px;
    width: 92vw;
    transition: all 1s ease;
}

.bathbomb-menu-nav-subfilter-button {
    background-color: rgb(174, 0, 255);
    border-radius: 15pt;
    font-size: 1.5rem;
    width: 14vw;
    color: white;
    font-family: 'Abel', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    padding: 1vh 2vw 1vh 2vw;
    box-shadow: rgb(73, 8, 134) 7px 7px 1px,
                rgba(0, 0, 0, 0.452) 15px 15px 10px,
                inset rgba(255, 255, 255, 0.473) 1px 1px 5px,
                inset black -1px -1px 5px;
    margin: 1vh 0.5vw 1vh 0.5vw;
    transition: all 1s ease;
}

.bath-bomb-description-container {
    background-color: rgba(0, 0, 0, 0.349);
    width: 55.75vw;
    height: calc(16.5vw);
    border-radius: 0 200px 200px 0;
    grid-column: 1/5;
    grid-row: 1/7;
    margin: 5.75vh 0 0 9vw;
    transition: all 1s ease;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 25% 75%;
    box-shadow: inset rgba(0, 0, 0, 0.26) 15px 15px 1px,
                inset rgba(255, 255, 255, 0.178) -1px -1px 1px;
    flex-direction: column;
}

.bath-bomb-description-container.closed {
    width: 0;
}

.bath-bomb-description-container > h1 {
    color: white;
    font-size: 3rem;
    margin: 3vh 0 0 11vw;
}

.bath-bomb-description-container.closed > h1 {
    font-size: 0;
    grid-column: 1;
    grid-row: 1;
}

.bath-bomb-description-container > p {
    color: white;
    font-size: 2rem;
    margin: 3vh 0 0 11vw;
    grid-column: 1;
    grid-row: 2;
    width: 15vw;
}

.bath-bomb-description-container.closed > p {
    font-size: 0;
}