.bathbombmenu-page {
    position: fixed;
    top: 14vh;
    bottom: -1.3vh;
    left: 3vw;
    right: 3vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.bathbomb-card-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.bathbomb-card {
    height: calc(30vw);
    width: 20vw;
    display: flex;
    flex-direction: column;
}

.bathbomb-example {
    display: grid;
    grid-template-columns: repeat(4 25%);
    grid-template-rows: repeat(4 25%);
}

.bathbomb-base {
    grid-column: 1/5;
    grid-row: 1/5;
    height: calc(20vw);
    width: 20vw;
    z-index: 1;
}

.bathbomb-details-overlay {
    grid-column: 1/5;
    grid-row: 1/5;
    height: calc(20vw);
    width: 20vw;
    z-index: 2;
}

.necklace-overlay {
    grid-column: 1/5;
    grid-row: 1/5;
    height: calc(20vw);
    width: 20vw;
    z-index: 3;
    filter: drop-shadow(black 1px 2px 1px);
}