@import url('https://fonts.googleapis.com/css?family=Bangers&display=swap');
    /* font-family: 'Noto Sans', sans-serif; */
    /* font-family: 'Inconsolata', monospace; */
    /* font-family: 'Bangers', cursive; */

.right-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    position: fixed;
    top: 12vh;
    bottom: 3vh;
    right: 2vw;
    left: 65vw;
    /* background-color: red; */
}

.loading-right-panel > h1 {
    font-family: 'Bangers', cursive;
    font-size: 7.5rem;
    font-weight: 300;
    text-align: center;
    transform: rotate(15deg);
}

.loading-right-panel > .triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 100px 7.5px 0 7.5px;
    border-color: white transparent transparent transparent;
    position: absolute;
    top: 0;
    left: 0;
}

.loading-right-panel > .triangle.one {
    top: 21vh;
    left: 16vw;
    transform: rotate(15deg)
}

.loading-right-panel > .triangle.two {
    top: 24vh;
    left: 20vw;
    transform: rotate(40deg)
}

.loading-right-panel > .triangle.three {
    top: 20vh;
    left: 11vw;
    transform: rotate(-15deg)
}

.loading-right-panel > .triangle.four {
    top: 55vh;
    left: 11vw;
    transform: rotate(-165deg)
}

.loading-right-panel > .triangle.five {
    top: 56vh;
    left: 16vw;
    transform: rotate(-190deg)
}

.loading-right-panel > .triangle.six {
    top: 52vh;
    left: 6vw;
    transform: rotate(-140deg)
}

.dashboard-right-panel > p {
    color: white;
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
}

.dashboard-right-1 {
    position: absolute;
    top: 15vh;
    right: 0;
    left: 0;
}

.dashboard-right-panel > .arrow-1 {
    transform: rotate(-15deg);
    position: absolute;
    top: 25vh;
    left: -5vw;
}

.dashboard-right-panel > .arrow-1 > .arrow-line {
    width: 14.5vw;
}

.dashboard-right-2 {
    position: absolute;
    top: 40vh;
    right: 0;
    left: 0;
}

.dashboard-right-panel > .arrow-2 {
    transform: rotate(-10deg);
    position: absolute;
    top: 48.5vh;
    left: -5.5vw;
}

.dashboard-right-panel > .arrow-2 > .arrow-line {
    width: 7vw;
}