@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Inconsolata|Noto+Sans&display=swap');
/* font-family: 'Noto Sans', sans-serif; */
/* font-family: 'Inconsolata', monospace; */

.app-demo-page {
    margin: 12vh 0 0 0;
}

.demo-set-container {
    z-index: 5;
}

.phone-frame {
    position: fixed;
    bottom: 0;
    right: 28vw;
    height: 85vh;
    filter: drop-shadow(rgba(255, 255, 255, 0.75) 1px 1px 25px);
}

.phone-frame-2 {
    position: fixed;
    bottom: 0;
    left: 33vw;
    height: 85vh;
    z-index: 2;
}

.screen-container {
    position: fixed;
    bottom: 2.35vh;
    top: 23.8vh;
    left: 37.7vw;
    right: 38.6vw;
    background: linear-gradient(#DB05FD, #8E44FD, #02B6FD);
    overflow: hidden;
}

.left-panel {
    position: fixed;
    top: 12vh;
    bottom: 3vh;
    right: 68vw;
    left: 2vw;
}

.right-panel {
    position: fixed;
    top: 12vh;
    bottom: 3vh;
    right: 2vw;
    left: 72vw;
}

.demo-screen {
    height: 73.85vh;
    width: 23.8vw;
}

.screen-container > .loading-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.screen-container > .loading-screen > .stitch-key-logo {
    height: 30vh;
    margin: 0 0 5vh 0;
    align-self: center;
    justify-self: center;
    filter: opacity(60%);
}

.screen-container > .loading-screen > p {
    font-size: 2rem;
    color: white;
    font-weight: 600;
    text-shadow: black 5px 5px 1px;
}

.left-panel > .loading-screen {
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-panel > .loading-screen {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dashboard-header {
    height: 4vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.5vw 1vh 0.5vw;
    font-family: 'Roboto', sans-serif;
    font-size: 0.8rem;
    text-transform: uppercase;
    background: linear-gradient(#DB05FD, rgba(0, 0, 255, 0));
    z-index: 6;
}

.dashboard-nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #02b6fd;
    margin: 0 0.5vw 0 0;
}

.dashboard-nav-container > img {
    height: 3vh;
    margin: 0 0.75vw 0 0.75vw;
    filter: drop-shadow(rgba(0, 0, 0, 0.603) 1px 1px 5px);
}

.dashboard-nav-container > .menu-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0.5vh 0 0 0.5vw;
    filter: drop-shadow(rgba(0, 0, 0, 0.603) 1px 1px 5px);
}

.dashboard-nav-container > .menu-icon > .menu-icon-bar {
    height: 0.4vh;
    width: 1.4vw;
    background-color: #02b6fd;
    margin: 0 0 0.5vh 0;
}

.card-list {
    position: fixed;
    top: 29vh;
    bottom: 2vh;
    left: 37.5vw;
    right: 38.5vw;
    padding: 0 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.pattern-card {
    width: 21vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 3vh 0;
}

.pattern-card-image-container {
    height: 20vh;
    width: 8.5vw;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 70% 30%;
}

.pattern-card-image {
    grid-column: 1/3;
    grid-row: 1/3;
    z-index: 2;
    align-self: center;
    justify-self: center;
    height: 13vh;
    transform: rotate(90deg);
    border-radius: 100px;
    border: solid rgb(117, 24, 204) 10px;
    box-shadow: rgb(66, 9, 66) 5px -4px 1px,
                rgba(0, 0, 0, 0.548) 7px -7px 10px;
}

.pattern-image-icon {
    grid-column: 2;
    grid-row: 2;
    z-index: 3;
    height: 5vh;
    filter: drop-shadow(black 0px 0px 10px);
}

.pattern-notification {
    height: 20vh;
    width: 11vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pattern-card-title {
    color: white;
    font-size: 1.75rem;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}

.progress-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 2vh 0 0 0;
}

.progress-bar-container {
    margin: 0 0.5vw 0 0;
    border-radius: 50px;
    border: white solid 3px;
    height: 2.5vh;
    width: 10vw;
    display: flex;
    align-items: center;
}

.progress-bar {
    background-color: white;
    width: 50%;
    height: 60%;
    border-radius: 15px 0 0 15px;
    margin: 0 0 0 5px;
}

.percentage {
    color: white;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 100%;
}

.list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 9vw;
    margin: 5px 0 0 0;
}

.list-checkbox {
    height: 3vh;
    filter: drop-shadow(white 1px 1px 4px);
    margin: 0 1vw 0 0;
}

.list-item-description {
    width: 9vw;
}

.list-item-description-color {
    color: white;
    font-size: 1.25rem;
}

.list-item-description-brand {
    color: white;
    font-size: 1rem;
}

.top-align {
    justify-content: flex-start;
}

.seventy {
    width: 70%;
}

.control-panel-toggle {
    height: 5vh;
    position: absolute;
    bottom: 1vh;
    left: 0.5vw;
    filter: drop-shadow(white 1px 1px 1px) drop-shadow(black 1px 1px 3px);
    z-index: 5;
}

.control-panel-menu {
    background-color: rgb(98, 0, 255);
    height: 30vh;
    width: calc(30vh);
    border-radius: 100%;
    box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 5px;
    z-index: 4;
    transition: all 1s ease;
}

.control-panel-menu.open {
    position: absolute;
    bottom: -15vh;
    left: calc(-15vh);
}

.control-panel-menu.closed {
    position: absolute;
    bottom: -30vh;
    left: calc(-30vh);
}

.demo-menu-icons {
    filter: drop-shadow(white 1px 1px 1px) drop-shadow(black 1px 1px 3px);
}

.library-icon {
    position: absolute;
    top: 1.5vh;
    right: 5.25vw;
    height: 4.25vh;
}

.projects-icon {
    position: absolute;
    top: 5.5vh;
    right: 2.75vw;
    height: 4.25vh;
}

.writer-icon {
    position: absolute;
    top: 10.5vh;
    right: 1vw;
    height: 3.5vh;
}

.demo-page-container {
    /* background-color: rgba(255, 0, 0, 0.678); */
    position: absolute;
    top: 5vh;
    bottom: 0;
    left: 0;
    right: 0;
}

.library-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
    max-width: 24.5vw;
    padding: 1vh 1.8vw 0 1vw;
    overflow: auto;
}

.pattern-thumbnail-container > img {
    margin: 3vh 0 3vh 0;
    height: 12.25vh;
    transform: rotate(90deg);
    border-radius: 100px;
    border: solid rgb(117, 24, 204) 10px;
    box-shadow: rgb(66, 9, 66) 5px -4px 1px,
                rgba(0, 0, 0, 0.548) 7px -7px 10px;
}

.shopping-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 5vh 0 0 0;
}

.shopping-container > .pattern-card-image-container {
    height: 20vh;
    width: 8.5vw;
    margin: 0 0 7vh 0;
}

.shopping-container > .pattern-card-image-container > .pattern-card-image {
    height: 20vh;
    border-radius: 150px;
}

.shopping-container > .pattern-card-image-container > .pattern-image-icon {
    height: 5vh;
    margin: 4.5vh 0 0 1vw;
}

.shopping-container > .pattern-notification {
    width: 90vw;
}

.shopping-container > .pattern-notification > .pattern-card-title {
    font-size: 2.5rem;
    margin: 0 0 1vh 0;
}

.shopping-container > .pattern-notification > .list-item {
    width: 12vw;
}